<div id = "user-widget">
Hi 
<% if current_user %>
current_user.name
<%else %>
<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
</br>
</br>

<div>
<%= form_for(@user, :remote => true) do |f| %>
 <%= f.text_field :email %>
<%= f.password_field :password %>
<%= f.password_field :password_confirmation %>
<%= f.submit("Sign Up") %>
<% end %>
</div>
<% end %>
</div>
