<div class="inbox">
	<a href="#">+ Send new message</a>
	<br/>
	<%= render "users/dashboard/inbox_msg"%>
	<%= render "users/dashboard/inbox_msg"%>
	<%= render "users/dashboard/inbox_msg"%>
	<%= render "users/dashboard/inbox_msg"%>
	<%= render "users/dashboard/inbox_msg"%>
	<%= render "users/dashboard/inbox_msg"%>
	<%= render "users/dashboard/inbox_msg"%>
</div>
