<%= form_for(:user, :url => users_path, :remote=>true) do |f| %>
<div class="signin register" type="register">
	<span class="trn"></span>
	<div class="input">
		<%= f.text_field :email, :placeholder=>"Email"%>
		<%= f.password_field :password, :placeholder=>"Password"%>
		<%= f.password_field :password_confirmation, :placeholder=>"Confirm your passwod"%>
		<div class="xxx email"></div>
		<div class="xxx password"></div>
		<div class="xxx confirm-password"></div>
		<div class="capslock">
			CAPS ON
		</div>
		<%= f.submit :class=>"lg-btn", :value=>"Sign Up"%>
		<hr class="signin-sep" />
		<br/>
		<div class="login-social">
			<span>You can also sign up with: </span>
			<div class="sep"></div>
			<a href="#" class="social-fb"></a>
			<a href="#" class="social-tw"></a>
			<a href="#" class="social-gp"></a>
			<div class="clear"></div>
		</div>
		<br/>
	</div>
</div>
<% end %>
