<div class="ct pds">
	<div class="p-tt">
		<div class="s-tt">
			<%= image_tag(image_path('social_3-128.png'))%>
			<%= image_tag(image_path('social_8-128.png'))%>
			<%= image_tag(image_path('google-128.png'))%>
			<%= image_tag(image_path('google-128.png'))%>
		</div>
		<a href="#" class="r-tt-report">Report this post</a>
		<div class="t-tt-title">
			The single most important startup lesson: How to perform inception on your customers.
		</div>
		<div class="s-tt-summary">
			In a startup, just like in inception, you must begin with the most basic value your business creates
		</div>
		<div class="a-tt-author">
			<%= image_tag(image_path('girl.jpg'))%>
			<span>James Faghmous in Tech talk</span>
		</div>
		<div class="c-tt-control">
			<div class="c-tt-control_m">
				<a class="love-post" href="#"> <span>Love this post</span> </a>
				<div class="already-loved-post">
					<%=image_tag(image_path('girl.jpg'))%>
					<%=image_tag(image_path('girl.jpg'))%>
					<%=image_tag(image_path('girl.jpg'))%>
				</div>
				<div class="scroll-post" href="#"></div>
				<a class="save-post" href="#">
					<span>Save this post for later</span>
				</a>
				<div class="post-font">
					<span>Font Size: </span>
				</div>
			</div>
		</div>
	</div>
</div>
