<!DOCTYPE html>
<html>
	<head>
		<title>Loverealm</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<script>
			console.log(screen.width);
		</script>
	</head>
	<body>
		<div id="loading-indicator">
			<%= image_tag(image_path('ajax_loading.gif'))%>
		</div>
		<div id="info-message-panel">
			<span id="info-message"></span>
		</div>
		<div class="header">
			<div class="menu-hd">
				<div class="menu">
					<a href="#" class="home"> <%= image_tag(image_path('home.jpg'))%> <span>Home</span> </a>
					<a href="#">Blog</a>
					<a href="#">Christian APPS</a>
					<a href="#">About Us</a>
					<a href="#">About Jesus</a>
					<a href="#">Support Us</a>
				</div>
				<div class="social" align="right">
					<a href="#" class="gp"></a>
					<a href="#" class="tt"></a>
					<a href="#" class="fb"></a>
					<span>We are social:</span>
				</div>
				<div class="clear"></div>
			</div>
			<div class="main h-d">
				<div class="lp">
					<div class="lm">
						<%= image_tag(image_path('menu.png'), :class=>"mop")%>
						<%= image_tag(image_path('HiresLogo.png'), :class=>"logo")%>
					</div>
					<div class="clear"></div>
				</div>
				<div class="ct">
					<div class="ds">
						<input type="text" class="search" placeholder="Seek and you shall find! (Mathew 7:7)"/>
						<%= image_tag(image_path('search.png'))%>
						<div class="hash-sep"></div>
					</div>
				</div>
				<div class="rp" align="right" style="text-align: right">
					<% if signed_in?%>
					<div class="lj">
						<a href="#" type="myaccount"><%= current_user.email%></a>
						<div class="clear"></div>
					</div>
					<div class="l-avatar">
						<%= image_tag(image_path('account-pic.jpg'))%>
					</div>
					<%= render "users/myaccount" %>
					<% else %>
					<div class="lj">
						<a href="#" type="login">Login</a>
						<div class="line"></div>
						<a href="#" type="register">Join</a>
						<div class="clear"></div>
					</div>
					<div class="l-avatar">
						<%= image_tag(image_path('login.png'))%>
					</div>
					<%= render "users/signin" %>
					<%= render "users/register" %>
					<% end %>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="main-bd">
			<div class="main home">
				<div class="lp home">
					<a href="#" class="active">OUR BLOGS</a>
					<a href="#" >Home</a>
					<a href="#">News</a>
					<a href="#">Finances</a>
					<a href="#">Ask</a>
					<a href="#">Love</a>
					<a href="#">Christian Walk</a>
					<a href="#">Miscellaneous</a>
					<a href="#">Media</a>
					<div class="loverealm-info">
						<span> &copy; 2013, LoveRealm Ministry</span>
						<br/>
						<span>All rights reserved</span>
						<br/>
						<div class="use">
							<a href="#">Terms of use</a>
							<a href="#">Privacy Policy</a>
						</div>
					</div>
				</div>
				<%= yield %>
			</div>
		</div>
	</body>
</html>
